[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-function-docstring,
    redefined-outer-name,
    too-many-instance-attributes,
    too-many-arguments,
    arguments-differ,
    duplicate-code

[DESIGN]
max-attributes=25
max-args=8